/* .background{
    background-color: aliceblue;
} */

  .page, .page__background, .page__content {
    background-color:rgba(228, 228, 228, 0.2);
    position: absolute;
} 

/* #headbar{
    background:url(../img/coolHue-92FFC0-002661.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
} */

#appSplitter{
    background:url(../img/coolHue-92FFC0-002661.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
}

#appname{
    /* font-family: 'Archivo Black', sans-serif; */
    text-align:center; 
    color:rgb(22, 71, 111);
    margin-left: 20px;
}
.toolbaricon {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: white;
}

:checked+.tabbar__button {
    color: rgb(22, 71, 111);
}
.tabbar--material__button {
    background-color: transparent;
    color: #5e5e5ea8;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.profile-pic {
    width: 200px;
    background-color: #fff;
    margin: 20px auto 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

.profile-pic>img {
    display: block;
    max-width: 100%;
}

ons-list-item {
    color: #444;
}

/* home_page */
.list--material {
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Athiti', sans-serif;
    border: #fff;
}
/* booking_page */
#book{
    font-family: 'Athiti', sans-serif;
    color: rgb(43, 43, 43);
    font-weight: bolder;
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
}

#set1{
    background: #b9370fee;
    font-family: 'Athiti', sans-serif;
}
#set2{
    background: #48b30b;
    font-family: 'Athiti', sans-serif;
}
#set3{
    background: #b9370fee;
    font-family: 'Athiti', sans-serif;
}
#set4{
    background: #48b30b;
    font-family: 'Athiti', sans-serif;
}

/* messenger_page */
/* #bor{
    border: #36bb02;
} */
.page--material__content h1, .page--material__content h2, .page--material__content h3, .page--material__content h4, .page--material__content h5 {
    font-family: 'Athiti', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0 0;
    padding: 0;
}
.card {
    -webkit-font-smoothing: antialiased;
    font-family: 'Athiti', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 1px 2px rgb(90, 90, 90);
    border-radius: 8px;
    margin: 8px;
    padding: 16px;
    text-align: left;
    word-wrap: break-word;
}

.list-header--material {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 14px;
    text-transform: none;
    margin: -1px 0 0;
    color: #000000;
    font-weight: 500;
    padding: 8px 16px;
}

/* history_page */
.list-item__thumbnail {
    width: 65px;
    height: 65px;
    border-radius: 6px;
    display: block;
    margin: 0;
}

/* modelclose */
.modal__content {
    background: rgb(76, 148, 147, 0.5);
    line-height: normal;
    background-clip: padding-box;
    font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    white-space: normal;
}

/* page_detail */
#btnback{
    color: #d43b14f8;
    text-align: left;
    margin-left: 35px;
    margin-top: 30px;
}

.namedata{
    text-align: center;
    padding-top: 10px;
}

.card, .card--material {
    background-color: rgb(255, 255, 255,0.8);
}

.setbtn{
    margin-left: 10px;
    padding: 10px;
}

#btnsubmit{
    font-family: 'Lato', sans-serif;
    background-color: rgba(7, 157, 226, 0.8);
    margin: 10px;
}
#btnpass{
    font-family: 'Lato', sans-serif;
    background-color: rgba(253, 167, 6, 0.8);
    margin: 10px;
}
#btncancle{
    font-family: 'Lato', sans-serif;
    background-color: rgba(226, 33, 7, 0.8);
    margin: 10px;
}
#pic{
    width: 50%;
    height: 100px;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.title{
    font-family: 'Athiti', sans-serif;
    color: #000;
    margin-bottom: 5px;
    font-weight:bold;
    font-size: 16px;
}

/* Test */
.placeholder{
    color: #000;
}

/* font warn */
.warn{
    text-align: center;
    font-size: 16px;
    font-family: 'Athiti', sans-serif;
    color: rgb(192, 0, 0);
    font-weight:bold;
    /* margin-top: 10px; */
    padding: 12px;
}

.setbtn{
    /* margin-top: 1px; */
    text-align: center;
    margin-bottom: 10px;
}