.page, .page__background, .page__content {
    background-color:rgba(255, 255, 255, 0.4);
    position: absolute;
}

p{
    margin: 2px 0px;
}

#headbar{
    background:url(../img/coolHue-52E5E7-130CB7.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
}

#appname{
    /* font-family: 'Archivo Black', sans-serif; */
    text-align:center; 
    color:white;
    margin-left: 20px;
}
.toolbaricon {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: white;
}

.proname{
    padding: 10px 70px 10px 70px;
}

.picuser{
    padding: 10px 10px 0px 10px;
}
.progress-bar--material__primary, .progress-bar--material__secondary {
    background-color: rgb(62, 163, 216);
    border-radius: 0;
}

.list-item--material {
    border: 0;
    padding: 0px 0px 10px 5px;
    line-height: normal;
}


#btn{
    width: 100%; 
    margin: 0 auto;
    color: rgb(11, 59, 87);
    border-radius: 0px;
    font-family: 'Athiti', sans-serif;
}

#btndatawash{
    width: 100%; 
    margin: 0 auto;
    color: rgb(0, 0, 0);
    height: 75%;
    border-radius: 0px;
    font-family: 'Athiti', sans-serif;

}
.has-book{
    width: 100%; 
    height: 75%;
    margin: 0 auto;
    background: #ffb01fee;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    font-family: 'Athiti', sans-serif;
}

.empty{
    width: 100%; 
    height: 75%;
    margin: 0 auto;
    background: #40b40bee;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    font-family: 'Athiti', sans-serif;
}

.upwork{
    width: 100%; 
    height: 75%;
    margin: 0 auto;
    background: rgba(7, 157, 226, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 0px;
    font-family: 'Athiti', sans-serif;
}

.pay{
    width: 100%; 
    height: 75%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 0px;
    font-family: 'Athiti', sans-serif;
}

.cancel{
    width: 100%; 
    height: 75%;
    margin: 0 auto;
    background: rgba(194, 30, 19, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 0px;
    font-family: 'Athiti', sans-serif;
}

.changetime{
    width: 100%; 
    height: 75%;
    margin: 0 auto;
    background: rgba(219, 88, 0, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 0px;
    font-family: 'Athiti', sans-serif;
}


#btndatablank{
    width: 100%; 
    height: 75%;
    margin: 0 auto;
    background: #40b40bee;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    font-family: 'Athiti', sans-serif;
    border: 1px solid rgb(201, 201, 201);

}

/* page_detail */
#btnback{
    color: #d43b14f8;
    text-align: left;
    margin-left: 35px;
    margin-top: 30px;
}

.namedata{
    text-align: center;
    padding-top: 10px;
}

.card, .card--material {
    background-color: rgb(255, 255, 255,0.8);
}

.setbtn{
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

#btnsubmit{
    font-family: 'Lato', sans-serif;
    background-color: rgba(7, 157, 226, 0.8);
    margin: 10px;
}
#btnpass{
    font-family: 'Lato', sans-serif;
    background-color: rgba(253, 167, 6, 0.8);
    margin: 10px;
}
#btncancle{
    font-family: 'Lato', sans-serif;
    background-color: rgba(226, 33, 7, 0.8);
    margin: 10px;
}
#pic{
    width: 50%;
    height: 100px;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.title{
    font-family: 'Athiti', sans-serif;
    color: #000;
    margin-bottom: 5px;
    font-weight:bold;
    font-size: 16px;
}

/* Alertsubmit */
.alert-dialog-button--material {
    font-family: Roboto,Noto,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    display: inline-block;
    width: auto;
    /* float: right; */
    background: 0 0;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    outline: 0;
    height: 36px;
    line-height: 36px;
    padding: 0 50px;
    margin: 8px 0px 2px 2px;
    box-sizing: border-box;
    min-width: 50px;
    color: #0178b4;
}


/* modelclose */
.modal__content {
    background: rgba(7, 171, 177, 0.5);
    line-height: normal;
    background-clip: padding-box;
    font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    white-space: normal;
}


#name_staff{
    margin-top: 10px;
    margin-bottom: 10px;  
}

#mar-butm{
    margin-bottom: 5px;
}

#colorback{
    background-color: white;
}

.card {
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    box-shadow: 0px 1px 2px rgba(0,0,0,.12);
    border-radius: 8px;
    margin: 8px;
    padding: 0px;
    text-align: left;
    word-wrap: break-word;
}

.pad-datail{
    padding: 10px 0px 10px 35px;
}

