p{
    margin: 20px 0px;
}
.background{
    /* background-color: rgb(224, 52, 0); */
    background:url(../img/coolHue-92FFC0-002661.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
}

.logo{
    font-family: 'Archivo Black', sans-serif;
    color: rgb(255, 255, 255,0.9);
    text-align: center;
    margin-top: 120px;
    font-size: 45px;
}

.text-input--underbar {
    line-height: 2;
    font-family: 'Athiti', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.text-input--material {
    padding: 0 0 2px;
    margin: 0;
    /* background: center bottom no-repeat; */
    outline: 0;
    line-height: 2;
    font-family: 'Athiti', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-size: 100% 2px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    /* border: none; */
    border-bottom: 1px solid white;
    border-radius: 0;
    height: 24px;
    vertical-align: top;
}

.text-input--material__label {
    font-family: 'Athiti', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
}

#username{
    margin-top: 30px;
}

#fonts {
    font-family: 'Athiti', sans-serif;
    margin: 10px;
    border: 2px solid rgb(219, 219, 219);
    color: #fff;
}
#fontquiet{
    color: #fffffff8;
    font-family: 'Athiti', sans-serif;
    font-size: 16px;
}

/* register.html */
.regis{
    font-family: 'Archivo Black', sans-serif;
    color: rgb(255, 255, 255,0.9);
    text-align: center;
    margin-top: 45px;
    font-size: 25px;
}

.setbtn{
    margin-top: 30px;
}

#btnback{
    color: #fffffff8;
    text-align: left;
    margin-left: 35px;
    margin-top: 45px;
    font-size: 16px;
    font-family: 'Athiti', sans-serif;
}

/* #btnancle{
    font-family: 'Lato', sans-serif;
    background-color: rgba(29, 97, 245, 0.3);
    border: 2px solid rgb(120, 187, 250);
    margin: 10px;
} */

#btnsubmit{
    font-family: 'Lato', sans-serif;
    background-color: rgba(155, 155, 155, 0.3);
    border: 2px solid #fff;
    margin: 10px;
}

