/* .background{
    background-color: aliceblue;
} */
.page, .page__background, .page__content {
    background-color:rgba(255, 255, 255, 0.4);
    position: absolute;
}
#headbar{
    background:rgb(206, 75, 14);
}
#appname{
    text-align:center; 
    color:white;
    margin-left: 20px;
}
.toolbaricon {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: white;
}

:checked+.tabbar__button {
    color: rgb(206, 75, 14);
}

/* home_page */
/* booking_page */
#book{
    font-family: 'Lato', sans-serif;
    color: rgb(168, 39, 6);
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
}

#set1{
    background: #eb3802ee;
}
#set2{
    background: #36bb02;
}