p{
    margin: 20px 0px;
}

#CompanyID {
    color:rgb(255, 255, 255);
    border-bottom: 1px solid white;
}

.background{
    /* background-color: rgb(224, 52, 0); */
    background:url(../img/colorback.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
}

.logo{
    font-family: 'Archivo Black', sans-serif;
    color: rgb(255, 255, 255,0.9);
    text-align: center;
    margin-top: 120px;
    font-size: 45px;
}

.center{
    font-family: 'Archivo Black', sans-serif;
    color: rgb(255, 255, 255,0.9);
    text-align: center;
    margin-top: 30px;
    /* font-size: 45px; */
}

/* .text-input--underbar {
    line-height: 2;
    font-family: 'Athiti', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    border-radius: 0;
} */



.text-input--material__label {
    font-family: 'Athiti', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
}

#username{
    margin-top: 30px;
}

#fonts {
    font-family: 'Athiti', sans-serif;
    margin: 10px;
    border: 2px solid rgb(219, 219, 219);
    color: #fff;
}
#fontquiet{
    color: #fffffff8;
    font-family: 'Athiti', sans-serif;
    font-size: 16px;
}

/* register.html */
.regis{
    font-family: 'Athiti', sans-serif;
    color: rgb(255, 255, 255,0.9);
    text-align: center;
    /* margin-top: 45px; */
    font-size: 30px;
}
.inputregis{
    font-family: 'Athiti', sans-serif;
    color: rgb(255, 255, 255,0.9);
    text-align: center;
    /* margin-top: 45px; */
    font-size: 18px;
}

.setbtn{
    margin-top: 30px;
}

#btnback{
    color: #fffffff8;
    text-align: left;
    margin-left: 35px;
    margin-top: 45px;
    font-size: 16px;
    font-family: 'Athiti', sans-serif;
}

/* #btnancle{
    font-family: 'Lato', sans-serif;
    background-color: rgba(29, 97, 245, 0.3);
    border: 2px solid rgb(120, 187, 250);
    margin: 10px;
} */

/* #modalcolor .modal__content{
    background: rgb(76, 148, 147, 0.5);
    background-clip: padding-box;
} */


/* modelclose */
.modal__content {
    background: rgb(76, 148, 147, 0.5);
    line-height: normal;
    background-clip: padding-box;
    font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    white-space: normal;
}

.forgetpass {
    text-align: center;
    /* padding: 0 20px; */
    padding-top: 20%
}

.button--large--quiet, .button--large--quiet:active {
    color: rgb(255, 255, 255,0.6);
    font-family: 'Athiti', sans-serif;
    background: 0 0;
    box-shadow: none;
    transition: none;
}

.toast--material {
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(19, 3, 105, 0.3);
    border-radius: 0;
    padding: 16px 24px;
}

.warn{
    font-size: 16px;
    font-family: 'Athiti', sans-serif;
    color: rgb(192, 0, 0);
    font-weight:bold;
    margin-top: 10px;
    padding: 12px;
}
.profileCus{
    margin-top: 50px;
    font-family: 'Athiti', sans-serif;
    color: rgb(255, 255, 255,0.9);
    text-align: center;
    font-size: 30px;
}
